{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}Meu Carrinho{% endblock title %}

{% block content %}

<div class="container my-3 table-responsive">
    <h1 class="font-weight-bold">Meu Carrinho</h1>
    {% if cart %}
    <table class="table">
        <thead>
            <tr class="bg-light">
                <th scope="col">Descrição</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
            {% with doacao=item.doacao %}
            <tr>
                <td class="align-middle text-middle">
                    <a target="_blank" class="text-decoration-none" href="{{ doacao.get_absolute_url }}">
                        {{ doacao.titulo }}
                    </a>
                </td>
                <td class="align-middle text-middle">
                    {{ item.quantidade }}
                </td>

                <td class="align-middle text-middle">
                    <form action="{% url 'cart:remove' doacao.id %}" method="post">
                        {% csrf_token %}
                        <input class="btn btn-danger" type="submit" value="Remover">
                    </form>
                </td>
            </tr>
            {% endwith %}
            {% endfor %}
            <tr class="bg-light table">
                <td class="font-weight-bold">Total</td>
                <td></td>
                <td class="font-weight-bold"> {{ cart.get_total_peso }} kg</td>

            </tr>
        </tbody>
    </table>
    {% else %}
    <p>O carrinho está vazio!</p>
    {% endif %}
    <p class="text-right">
        <a class=" btn btn-primary" href="{% url 'doacao:list' %}">
            Incluir itens
        </a>

        <a class="btn btn-success {% if not cart %}disabled{% endif %}" href="{% url 'orders:order_create' %}">
            Finalizar Pedido
        </a>
    </p>
</div>

{% endblock content %}