{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}
    Pedido numero: {{ order.id }} {{ block.super }}
{% endblock %}

{% block content %}
<div class="container my-3">
    <h2>Pedido {{ order.id }}</h2>
    <ul class="object-tools">
        <li>
            <a href="#" onclick="window.print();" class="btn btn-primary">Imprimir pedido</a>
        </li>
    </ul>
<table class="border">
  <tr>
    <th>Criado</th>
    <td>{{ order.created }}</td>
  </tr>
  <tr>
    <th>Cliente</th>
    <td>{{ user.first_name }} {{ user.last_name }}</td>
  </tr>
  <tr>
    <th>E-mail</th>
    <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
  </tr>
  <tr>
    <th>Endereço</th>
    <td>{{ endereco.logradouro }} {{ endereco.cep }} {{ endereco.uf }}</td>
  </tr>
  <tr>
    <th>Montante total</th>
    <td>${{ order.get_total_cost }}</td>
  </tr>
  <tr>
    <th>Status</th>
    <td>{% if order.paid %}Paid{% else %}Pagamento pendente{% endif %}</td>
  </tr>
</table>
<br>
<div class="module border">
  <h2>Itens Solicitados</h2>
  <table style="width:100%">
    <thead>
      <tr>
        <th>material</th>
        <th>Peso</th>
        <th>Quantidade</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.items.all %}
        <tr class="row{% cycle '1' '2' %}">
          <td>{{ item.doacao.titulo }}</td>
          <td class="num">{{ item.price }}</td>
          <td class="num">{{ item.quantity }}</td>
          <td class="num">{{ item.get_cost }}</td>
        </tr>
      {% endfor %}
      <tr class="total">
        <td colspan="3">Total</td>
        <td class="num">${{ order.get_total_cost }}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
{% endblock %}