{% extends 'base.html' %}
{% load static %}

{% block title %}

Semeando


{% endblock %}

{% block content %}
<div class="container my-3">
    <h1>Bem vindo a Site semeando</h1><br>
    <h3>Nossa missão é conectar as pessoas que desejam doar com as pessoas que pretendem
        receber doações</h3>
        <br>
        <br>
    <h5>Fique a vontade para explorar a lista de doações, e se quiser receber alguma ou
        fazer doações, faça seu cadastro</h5>




</div>
{% block script %}

{% endblock %}

    {% endblock %}


