{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="container my-3 table-responsive">

    <table class="table">
            <thead>
                <tr>
                    <th scope="col">Usuário</th>
                    <th scope="col">Cep</th>
                    <th scope="col">Rua</th>
                    <th scope="col">Numero</th>
                    <th scope="col">Complemento</th>
                    <th scope="col">Bairro</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Deletar</th>


                </tr>


            </thead>
            <tbody>





        {% for enderec in object_list %}
            <tr class="bg-light">
                        <td class="align-middle">{{ enderec.usuario }}</td>
                        <td class="align-middle">{{ enderec.cep }}</td>
                        <td class="align-middle">{{ enderec.logradouro }}</td>
                        <td class="align-middle">{{ enderec.numero }}</td>
                        <td class="align-middle">{{ enderec.complemento }}</td>
                        <td class="align-middle">{{ enderec.bairro }}</td>
                        <td class="align-middle">{{ enderec.cidade }}</td>
                        <td class="align-middle">{{ enderec.uf }}</td>



                        <td class="align-middle"><a href="{% url 'endereco:update' enderec.id %}" class="edit-item">
                                <i class="fas fa-edit"></i></a></td>
                        <td class="align-middle"><a href="{% url 'endereco:delete' enderec.id %}" class="trash-item">
                            <i class="fas fa-trash"></i></a></td>


                    </tr>

                {% endfor %}



            </tbody>


        </table>


    <a href="{% url 'endereco:new' %}" class="btn btn-primary">Novo</a>
    <a href="{% url 'users:profile' %}" class="btn btn-primary">Voltar perfil</a>


</div>
{% endblock %}